<div class="main-content">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <div *ngIf="cartItems.length > 0">
        <table class="table table-bordered">
          <!--table headers-->
          <tr>
            <th width="20%">Product Image</th>
            <th width="50%">Product Detail</th>
            <th width="30%"></th>
          </tr>
          <tr *ngFor="let tempCartItem of cartItems">
            <!-- start product image and detail-->
            <td>
              <img
                src="{{ tempCartItem.imageUrl }}"
                class="img-responsive"
                width="150px"
              />
            </td>
            <td>
              <p>{{ tempCartItem.name }}</p>
              <p>{{ tempCartItem.unitPrice | currency: "USD" }}</p>
            </td>
            <!--end product image and detail-->
            <!--start subtotal and plus minus buttons-->
            <td>
              <div class="items">
                <label>Quantity:</label>
                <div class="row no-gutters">
                  <!--plus button-->
                  <div class="col">
                    <button
                      (click)="incrementQuantity(tempCartItem)"
                      class="btn btn-primary btn-sm"
                    >
                      <i class="fa fa-plus"></i>
                    </button>
                  </div>
                  <div class="col ms-4 me-2">
                    {{ tempCartItem.quantity }}
                  </div>
                  <!--minus button-->
                  <div class="col">
                    <button
                      (click)="decremetnQuantity(tempCartItem)"
                      class="btn btn-primary btn-sm"
                    >
                      <i class="fa fa-minus"></i>
                    </button>
                  </div>
                  <div class="col-8"></div>
                </div>
              </div>
              <!--remove button-->
              <div class="col">
                <button
                  (click)="remove(tempCartItem)"
                  class="btn btn-primary btn-sm mt-2"
                >
                  Remove
                </button>
              </div>
              <!--subtotal-->
              <p class="mt-2">
                Subtotal:
                {{
                  tempCartItem.quantity * tempCartItem.unitPrice
                    | currency: "USD"
                }}
              </p>
            </td>
            <!--end subtotal and plus minus buttons-->
          </tr>
          <!--total price and quantity cart-->
          <tr>
            <td colspan="2"></td>
            <td style="font-weight: bold">
              <p>Total Quantity: {{ totalQuantity }}</p>
              <p>Shipping: FREE</p>
              <p>Total Price: {{ totalPrice | currency: "USD" }}</p>
            </td>
          </tr>
        </table>
      </div>
      <!--if cart is empty then display a message-->
      <div
        *ngIf="cartItems.length == 0"
        class="alert alert-warning col-md-12"
        role="alert"
      >
        Your Shopping Cart is empty
      </div>
    </div>
  </div>
</div>
